
<!DOCTYPE html> 
<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*"> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
	
	<script type="text/javascript">
		if(typeof jQuery=='undefined'){
			document.write(unescape("<script src='../jquery.mobile/jquery-1.9.1.min.js' type='text/javascript'></scri"+"pt>"));
			document.write(unescape("<script src='../jquery.mobile/jquery.mobile-1.3.2.min.js' type='text/javascript'></scri"+"pt>"));
			document.write(unescape("<link rel='stylesheet' href='../jquery.mobile/jquery.mobile-1.3.2.min.css' /"+">"));	
		}
	</script>

	<link href="/gymkhana/templates/dialogs/dialogs.css" rel="StyleSheet" />

	
</head> 
<body> 

<div data-role="dialog">
	
	<div data-role="header" data-theme="c">
		<h1>Pistas</h1>
	</div>

	<div data-role="content" data-theme="d">

		{% if clues|length == 0 %}
			<h2>No hay pistas para este reto.</h2>
		{% else %}

	                {% for clue in clues reversed %}
        	                <p><span id="bold">Pista {{ clue.number }}</span> cuesta {{ clue.cost }} puntos.</p>
                	{% endfor %}
			<a href="/gymkhana/event/{{event_id}}/team/{{team_id}}/challenge/{{challenge_id}}/get_clue/" data-role="button" data-theme="b">Obtener pista</a>
		{% endif %}
		<a data-role="button" data-rel="back" data-theme="c">Volver</a>    

	</div>
</div>


</body>
</html>
