<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-tracsitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	
	<head>
		<Title> Explohyperfiction - Error</Title>
		{%block scripts%}

		{%endblock%}
		<link href="/explohyperfiction/css/Styles.css" rel="stylesheet" type="text/css" />
		<meta name="author" content="Guillermo Méndez de Vigo">
		<meta name="keywords" content="game, LibreGeoSocial, Explorehyperfiction">
	</head>
	
	<body>
		<div class="content">
			
			
			
			<div class="header">
				<a href="/explohyperfiction/home/" class="header"> ExploHyperfiction </a>
			</div>
			<div class="horizontal_menu">
				<ul>
					<li> <a href="/explohyperfiction/home/"> Home </a></li>
				</ul>
			</div>
			<div class="center">
				
				<div class="main_content">
					<div class="error">
						ERROR:<br>
						{{message}}
						</div>
						<a class="button big red" href="/explohyperfiction/home/">Home</a>
					</div>
				</div>
		
			<div class="footer">
				Explohyperfiction: Crea tu propia aventura. <br>
				Guillermo Méndez de Vigo
			</div>
		</div>	
	</body>
</html>

