{%extends 'explohyperfiction_base.html'%}

{%block scripts%}
<script>
	function empty_field(q) {
		if (q.length == 0) {
			return false
		}
		return true
	}

	function validate(formulario) {
		if (empty_field(formulario.name.value)== false) {
			alert("El campo de nombre de usuario no puede estar vacío")
			return false
		}
		if (empty_field(formulario.description.value)== false) {
			alert("El campo de nombre de usuario no puede contener espacios")
			return false
		}
		return true
	}

</script>
{%endblock%}

{%block left%}

{%endblock%}

{%block main%}

	<div>
		<fieldset>
			{%if edit%}
			<legend> Explohyperfiction - Edit event</legend>
			{%else%}
			<legend> Explohyperfiction - New Event </legend>
			{%endif%}
			<div id="fieldset_content">
				{%if edit%}
				<form action="/explohyperfiction/events/manager/edit/{{event.id}}/" method="post" enctype="multtipart/form-data" onsubmit="return validate(this);"> {%csrf_token%}
				{%else%}
				<form action="/explohyperfiction/events/manager/create/" method="post" enctype="multtipart/form-data" onsubmit="return validate(this);"> {%csrf_token%}
				{%endif%}
			<div>
						<label for="name" class="required"> Event name:</label>
						<input type="text" id="name" name="name" size="30" maxlength="30" value="{{event.name}}"/>
					</div>
					{%if event_exists%}
						<p>
							This name already exists.
						</p>
					{%else%}
						<br>
					{%endif%}
					
					<br>
					{%for g in groups%}	
					<div>
						<label for="{{g.name}}" class="required">{{g.name}}</label>
						<input type="checkbox" name="{{g.name}}" value"True" {%for group in groups_event%}{%ifequal g.name group.name%} checked {%endifequal%}{%endfor%} />
					</div>
					<br>
					<br>	
					{%endfor%}
					<div>
						<label for="description">Description: </label>
						<textarea rows="5" cols="40" name="description">{{event.description}}</textarea>
					</div>
                		<br>
					<div>
						<input type="submit" value="Send" class="button normal green">
					</div>
				</form>			
			</div>
		</fieldset>
	</div>
{%endblock%}